.sectionTitle {
  color: #444444;
  font-family: Monotype Corsiva;
  font-size: 44px;
  line-height: 33px;
  margin-bottom: 0px;
  padding-bottom: 26px;
  position: relative;
  /* font-family: "Dosis", sans-serif; */
  font-weight: 700;
}
.sectionTitle::before{
    background: rgba(0, 0, 0, 0) url('../public/stats/title.png') no-repeat scroll 0 0;
    bottom: 0;
    content: "";
    height: 14px;
    left: 50%;
    position: absolute;
    transform: translateX(-50%);
    width: 290px;
}
.welcomeMessage{
    font-family: monospace;
    font-size: 26px;
    text-align: justify;
}


.marqueeContainer:hover{
  animation-play-state: paused;
}

/*--------------------------------------------------------------
  # Contact Section
  --------------------------------------------------------------*/
  .contact .infoItem {
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.08);
    padding: 20px 0 30px 0;
  }
  
  .contact .infoItem i {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 56px;
    height: 56px;
    font-size: 24px;
    line-height: 0;
    color: var(--color-primary);
    border-radius: 50%;
    border: 2px dotted #ffd565;
  }
  
  .contact .infoItem h3 {
    font-size: 20px;
    color: #6c757d;
    font-weight: 700;
    margin: 10px 0;
  }
  
  .contact .infoItem p {
    padding: 0;
    line-height: 24px;
    font-size: 14px;
    margin-bottom: 0;
  }
  
  .contact .phpEmailForm {
    width: 100%;
    background: #fff;
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.08);
    padding: 30px;
  }
  
  .contact .phpEmailForm .form-group {
    padding-bottom: 20px;
  }
  
  .contact .phpEmailForm .errorMessage {
    display: none;
    color: #fff;
    background: #df1529;
    text-align: left;
    padding: 15px;
    font-weight: 600;
  }
  
  .contact .phpEmailForm .errorMessage br + br {
    margin-top: 25px;
  }
  
  .contact .phpEmailForm .sentMessage {
    display: none;
    color: #fff;
    background: #059652;
    text-align: center;
    padding: 15px;
    font-weight: 600;
  }
  
  .contact .phpEmailForm .loading {
    display: none;
    background: #fff;
    text-align: center;
    padding: 15px;
  }
  
  .contact .phpEmailForm .loading:before {
    content: "";
    display: inline-block;
    border-radius: 50%;
    width: 24px;
    height: 24px;
    margin: 0 10px -6px 0;
    border: 3px solid #059652;
    border-top-color: #fff;
    animation: animate-loading 1s linear infinite;
  }
  
  .contact .phpEmailForm input,
  .contact .phpEmailForm textarea {
    border-radius: 0;
    box-shadow: none;
    font-size: 14px;
  }
  
  .contact .phpEmailForm input:focus,
  .contact .phpEmailForm textarea:focus {
    border-color: var(--color-primary);
  }
  
  .contact .phpEmailForm input {
    height: 44px;
  }
  
  .contact .phpEmailForm textarea {
    padding: 10px 12px;
  }
  
  .contact .phpEmailForm button[type="submit"] {
    background: var(--color-primary);
    border: 0;
    padding: 10px 35px;
    color: #fff;
    transition: 0.4s;
    border-radius: 5px;
  }
  
  .contact .phpEmailForm button[type="submit"]:hover {
    background: rgba(254, 185, 0, 0.8);
  }
  
  @keyframes animate-loading {
    0% {
      transform: rotate(0deg);
    }
  
    100% {
      transform: rotate(360deg);
    }
  }